<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete File</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="main full-w min-h-screen bg-zinc-900 p-10 text-white">
        <a class="text-blue-500" href="/">Go Back</a>

        <h2 class="text-3xl tracking-tighter mt-3">
            <%= filename %>
        </h2>

        <form action="/delete/<%= filename %>" method="POST">
            <button class="text-red-600 mt-3" onclick="return confirm('Are you sure you want to delete this file?')">
                Delete
            </button>
        </form>
    </div>
</body>

</html>
